body{
	font-family: 'Signika';
}
a{
	color:#86CFED;	
}
a:hover,a:focus{
	color:#965AA4;
}


section h2,section h3, section p,section img{
	transition: all 1s;
}
section h4{
	transition: all 2s;
}
.navbar-custom .nav li.active a{
	color:#965AA4;

}
.btn-default:hover, .btn-default:focus{
	border:1px solid #965AA4;
	background-color:#965AA4;
}

.btn-default{
	border:1px solid #86CFED;
	color:#86CFED;
}

.content-section{
	padding-top: 70px;
}

.navbar-brand{
	padding: 0;
}

.logoNav{
	height: 100%;
}

.logoIntro{
	height: 50vh;
	position: relative;
}


.introImg{
	height: 15vw;
	position: absolute;
}

.intro .introImg:nth-of-type(1){
	top:0;
	left:30%;
	transition: all 0.7s 0.3s; 
}
.intro .introImg:nth-of-type(2){
	top:7%;
	left:22%;
	transition: all 0.7s 0.6s; 
}
.intro .introImg:nth-of-type(3){
	top:14%;
	left:14%;
	transition: all 0.7s 0.9s; 
}
.intro .avro,.intro .lifeScience{
	transition: all 1s 1s;
	position: absolute;
	right: 0%;
}
.intro .avro{
	height: 12%;
	top:12%;
}
.intro .lifeScience{
	height: 5%;
	top:24%;
}

.fadedLogoImg{
	opacity: 0;
	transform:translateX(-100px);
}
.fadedAvro{
	opacity: 0;
	transform: scale(0.9);
}


#about h2{
	text-align: center;
}

.productList li{
	margin-top: 20px;
	list-style: none;
}
.productList h4{
	font-size: 20px;
	margin-bottom: 10px;
}
.productList li:nth-child(1) h4{
	color:#BCDEE2;
}
.productList li:nth-child(2) h4{
	color:#07C108;
}
.productList li:nth-child(3) h4{
	color:#A7769F;
}
.productList li:nth-child(4) h4{
	color:#168280;
}
.productList p{
	margin-left: 20px;
}
.productContainer{
	height: 100%;
	position: relative;
}
.productImg img{
	width: 100%;
}
.productImg:nth-of-type(1) img{
	transition: all 1s 0s;
}
.productImg:nth-of-type(2) img{
	transition: all 1s 0.6s;
}
.productImg:nth-of-type(3) img{
	transition: all 1s 1.2s;
}
.productImg:nth-of-type(4) img{
	transition: all 1s 1.8s;
}

.productImg{
	margin-top: -54.7%;

}
.productImg:nth-of-type(1){
	margin-top: 27.5%;
}
.productImg:nth-of-type(4){
	margin-bottom: 125px;
}
.teamImage{
	height: 100%;
}
.titleC{
	font-style: 'Montserrat';
	color:#86CFED;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: rgba(134,207,237,0.2);
	display:inline-block;
	padding: 40px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 10px;
	border: 1px solid #86CFED;
	transition: all 0.5s;
}
.titleC:hover{
	color:black;
	background-color: #86CFED;
}
.titleCont{
	height: 60px;
}

.teamImageContainer{
	overflow: hidden;
	height: 240px;
	margin-bottom: 30px;
}

.teamDescription{
	text-align: left;
	font-size: 15px;
}
.col-md-offset-1-2{
	margin-left: 12.5%;
}
.company-section h3{
	font-family: 'Signika';
	font-size: 20px;
}

.section-title{
	font-family: Montserrat;
	color:#965AA4;
}





.fade{
	opacity: 0;
	transform: translate(0,-30px);
	transition: all 0s !important;
}



@media (min-width: 600px) {
	.intro .avro,.intro .lifeScience{
		position: absolute;
		right: 0%;
	}
	.intro .avro{
		height: 24%;
		top:30%;
	}
	.intro .lifeScience{
		height: 9%;
		top:56%;
	}
}

@media (min-width: 992px) {
 	.introImg{
		height: 180px;
	}
	.intro .avro{
		height: 33%;
		top:30%;
		right: 16%;
	}
	.intro .lifeScience{
		height:12%;
		top:64%;
		right:18%;
	}
	.teamImage{
		width: 100%;
		height: initial;
	}
}



@media (min-width: 772px) {

	.intro .introImg:nth-of-type(1){
		top:0;
		left:30%;
		transition: all 0.7s 0.3s; 
	}
	.intro .introImg:nth-of-type(2){
		top:11%;
		left:22%;
		transition: all 0.7s 0.6s; 
	}
	.intro .introImg:nth-of-type(3){
		top:22%;
		left:14%;
		transition: all 0.7s 0.9s; 
	}

}
#arshan{
	font-size: 10px;
	font-family: sans-serif;
}
